<footer class="bg-dark-bib text-white pt-5">
  <div class="container pb-4">
    <div class="row gy-4">

      <!-- Titre -->
      <div class="col-12">
        <a href="https://bib.umontreal.ca" target="_blank" class="text-decoration-none text-white">
          <h3 class="fw-bold mb-3 text-white">{{ 'bibforms.footer.bibliotheque' | translate }}</h3>
        </a>
      </div>

      <!-- À propos -->
      <div class="col-md-3 col-sm-6 border-end border-secondary">
        <ul class="list-unstyled mt-3">
          <li class="mb-3">
            <a href="https://bib.umontreal.ca/nous-joindre/" class="text-white text-decoration-none d-flex align-items-center gap-2">
              <!-- SVG contact -->
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256">
                <path d="M227.32,28.68a16,16,0,0,0-15.66-4.08l-.15,0L19.57,82.84a16,16,0,0,0-2.49,29.8L102,154l41.3,84.87A15.86,15.86,0,0,0,157.74,248q.69,0,1.38-.06a15.88,15.88,0,0,0,14-11.51l58.2-191.94c0-.05,0-.1,0-.15A16,16,0,0,0,227.32,28.68ZM157.83,231.85l-.05.14,0-.07-40.06-82.3,48-48a8,8,0,0,0-11.31-11.31l-48,48L24.08,98.25l-.07,0,.14,0L216,40Z"/>
              </svg>
              {{ 'bibforms.footer.contact.titre' | translate }}
            </a>
          </li>
          <li>
            <a href="/page/a-propos" class="text-white text-decoration-none d-flex align-items-center gap-2">
              <!-- SVG info -->
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256">
                <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z"/>
              </svg>
              {{ 'bibforms.menu.a-propos' | translate }}
            </a>
          </li>
        </ul>

        <!-- Réseaux sociaux -->
        <div class="mt-4 d-flex justify-content-center gap-4">
          <a href="https://www.youtube.com/user/BibliothequesUdeM" target="_blank" rel="noopener" class="text-white">
            <!-- SVG YouTube -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/umontreal/" target="_blank" rel="noopener" class="text-white">
            <!-- SVG Instagram -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">
              <path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"/>
            </svg>
          </a>
        </div>
      </div>

      <!-- Ressources -->
      <div class="col-md-3 col-sm-6 border-end border-secondary">
        <ul class="list-unstyled mt-3">
          <li><a href="https://bib.umontreal.ca" class="text-white text-decoration-none">{{ 'bibforms.footer.contact.site-bib' | translate }}</a></li>
          <li class="mt-2"><a href="https://umontreal.on.worldcat.org/discovery?lang=fr" class="text-white text-decoration-none">{{ 'bibforms.footer.sofia' | translate }}</a></li>
          <li class="mt-2"><a href="https://boite-outils.bib.umontreal.ca/az.php" class="text-white text-decoration-none">{{ 'bibforms.footer.data-base' | translate }}</a></li>
        </ul>
      </div>

      <!-- Outils -->
      <div class="col-md-3 col-sm-6 border-end border-secondary">
        <ul class="list-unstyled mt-3">
          <li><a href="https://boite-outils.bib.umontreal.ca/" class="text-white text-decoration-none">Boîte à outils</a></li>
          <li class="mt-2"><a href="https://studio.bib.umontreal.ca/" class="text-white text-decoration-none">Studio-bib</a></li>
          <li class="mt-2"><a href="https://umontreal.scholaris.ca/home" class="text-white text-decoration-none">Papyrus</a></li>
          <li class="mt-2"><a href="https://geoapp.bibl.ulaval.ca/" class="text-white text-decoration-none">GéoIndex</a></li>
        </ul>
      </div>

      <!-- Logo -->
      <div class="col-md-3 col-sm-6 text-center">
        <a href="https://bib.umontreal.ca/" target="_blank" rel="noopener">
          <img src="images/logo-Biblio.png" alt="{{ 'bibforms.footer.bibliotheque' | translate }}" class="img-fluid" style="max-height:220px;">
        </a>
      </div>

      <!-- Urgence -->
      <div class="col-12 mt-4 text-left">
        <a href="#" class="text-white text-decoration-none">
          <img src="images/Siren.svg" alt="" class="me-2">
          {{ 'bibforms.footer.emergency' | translate }}
        </a>
      </div>

    </div>
  </div>

  <!-- Bas de page -->
  <div class="bg-primary text-white py-3">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div>
        <small>{{ 'bibforms.footer.copyright' | translate: { year: dateObj | date:'y' } }}</small>
      </div>
      <ul class="list-inline m-0 mt-2 mt-md-0">
        <li class="list-inline-item"><a href="/info/privacy" class="text-white text-decoration-none">{{ 'bibforms.footer.param.confidentiel' | translate }}</a></li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><a href="https://vie-privee.umontreal.ca/confidentialite/" target="_blank" class="text-white text-decoration-none">{{ 'bibforms.footer.liens.confidentialite' | translate }}</a></li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><a href="https://vie-privee.umontreal.ca/conditions-dutilisation/" target="_blank" class="text-white text-decoration-none">{{ 'bibforms.footer.liens.accord_utilisateur' | translate }}</a></li>
      </ul>
    </div>
  </div>
</footer>
